@font-face {
  font-family: "iconfont"; /* Project id 4182619 */
  src: url("iconfont.woff2?t=1690769973708") format("woff2"),
    url("iconfont.woff?t=1690769973708") format("woff"),
    url("iconfont.ttf?t=1690769973708") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  color: rgb(7, 127, 254);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e9ab";
}

.icon-icon-test:before {
  content: "\e603";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-gongjiao:before {
  content: "\e601";
}

.icon-tianmaojisutuikuan:before {
  content: "\e602";
}

.icon-friend:before {
  content: "\e609";
}

.icon-qita:before {
  content: "\e62b";
}

.icon-lvhang:before {
  content: "\e604";
}

.icon-zijin:before {
  content: "\e650";
}

.icon-riyongpin:before {
  content: "\e620";
}

.icon-fushilei:before {
  content: "\e61f";
}

.icon-gongzihefang:before {
  content: "\e611";
}

.icon-licai:before {
  content: "\e60b";
}

.icon-xuexi:before {
  content: "\e7f1";
}

.icon-yiliaofuwu:before {
  content: "\e99a";
}

.icon-nvxing:before {
  content: "\edd1";
}

.icon-yinshi:before {
  content: "\e747";
}
